/* ................
    .........
    ........
    .......
    .
    .
    .
    Important !!!!!
    .
    .
    .
    .
    .
    .

    A lot of styles are being kept commented in the
    stylesheet 

    its because during debugging period removing and 
    adding code again and again is a  hassle and 
    time consuming
    
    thats why all of them are kept commented
    and not directly removed

    .
    .
    .
    .
    thankyou for your attention !
    .
    .
    .
    .
    .........
    .............
    ...............
    ..................
*/

/* ... google font.... */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
}
/* ... header... */
header{
    width: 80%;
    margin: 10px auto 50px;
    border: 0px;
}

/* ... section: top-poster */
.top-poster{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-evenly; */
    /* column-gap: 10px; */
    border-radius: 20px;
    
    width: 100%;
    /* margin-top: 10px; */
    /* padding: 20px 0px 0px 70px; */
    /* border: 1px white; */

}
.poster-info{
    color: white;
    width: 80%;
    margin: 0px auto;
    /* padding: 20px; */
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poster-player{
    width: 90%;
    margin: 0px;
    /* border: 1px solid white; */
    padding: 0px ;
    justify-content: center;
    align-items: center;
}
.poster-info h1{
    font-size: 65px;
    /* font-weight: bolder;     */
    font-family:sans-serif;
    /* margin-top: 30px; */
    padding: 0px;
    border: 0px;
}
.poster-info p{
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.poster-info button{
    width: 140px;
    height: 50px;
    margin: 20px 0px;
    background-color: rgb(220, 20, 70);
    border-radius: 9px;
   
}
.poster-info button:hover{
    background-color: rgb(2, 228, 228);
    transition-duration: .5s;
    width: 160px ;
    
}
.poster-info a{
    text-decoration: none;
    color: white ;
    font-size: 15px;
    font-weight:700;
}

.player{
    width: 100%;
    height:100%;
  
}

/* .... main .....} */
/* 
........ match-pages......
*/

main{
    width: 80%;
    margin: 0px auto;
}
.match{
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 10px;

}
.match-pages{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 10px;
    background-color: black;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    border-radius: 5px;
}
.match-pages button {
    height: 45px;
    padding: 0px 30px;
    border-radius: 10px;
}
.match-pages button:hover{
    background-color: cyan;
    color: white;
}
.match-pages button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;

}
.active{
    background-color: red;
}
#present-page{
    color: white;
}

/* 
........... blog-links .....
*/

.blog-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    font-family: sans-serif;
}
.each-blog{
    padding-bottom: 25px;
}
.match-thumb{
    width: 100%;
    
}
.transfer{
    margin: 10px 0px 0px 15px;
    border-radius: 4px;
    border: 1px solid rgb(71, 68, 68);
    font-size: 12px;
    padding: 6px 15px;
}
.each-blog h3{
    font-family: sans-serif;
    margin: 10px 0px 0px 15px;
    border: 0px;
    padding: 0px;
    font-size: 14px;
    
}
/* ... icon-container.... */
.icon-container{
    display: flex;
    align-items: center;
    padding: 0px 9px;
    border: 0px;
    margin: 0px;
    color: rgb(78, 75, 75);

}
.icon-container i{
    padding: 0px 10px;
}

/* ....... view all button ........ */
.tablet-view-button{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    
}
.view-btn{
    width: 150px;
    height: 50px;
    background-color: red;
    border-radius: 7px;
    border: none;


}
.view-all{
   font-size: 27px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}



/* ... footer..... */


.footer{
    background-color: black;
    color: white;
    opacity: .9;
    font-family: 'Poppins', sans-serif;
    height:fit-content;
    margin: 0px;
    border: 0px;


}
.footer-goal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em ;
    height: 45%;
}
hr{
    width: 80%;
}
.footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 70%;
    margin: 0px auto;
    
}
.nav-item{
    padding: 0px 10px;
    color: lightgrey;
    font-size: .7em;
    font-weight: lighter;
}
h5>a:hover{
    color: lightblue;
    cursor:pointer;
}
/* ..... social media links ....... */
.social-media{
    color: white;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2,1fr); */
    column-gap: 10px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 40px 0px;
    justify-content: center ;

}
.stay-connected{
    /* border: 1px solid white; */
    text-align: center;
}
/* .social-para{  
    width: 100%;
    margin: 0px 0px;

} */
.social-icons{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0px auto; */
    /* align-items: center; */
    /* justify-content:center; */
    text-align: center;
    /* border: 1px solid white; */
}

.social-icons a{
    text-decoration: none;
    color: gray;
}
.social-icons i{
    color: aqua;
    padding: 0px 10px;
}

/* .....................................................................................
mobile view
.............................................................................................. */
@media screen and (max-width:688px) {
    
    /* ..... header ........ */
 
    .top-poster{
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
    }
    .poster-info{
        width: 70%;
        align-items: center;
    }
    .poster-info h1{
        font-size: 35px;
        font-weight: lighter;
    }
    .poster-info p{
        justify-content: center;
    }
    .poster-player{
        width: 70% ;
        margin: 0px auto;
    }
    .poster-info button{
        width: 180px;
    }

/* ......... main ......... */
    header{
        margin: 10px auto 0px;
    }
    .match{
        display: flex;
        flex-direction: column;
        /* background-color: white; */
    }
    .match-pages{
        background-color: white;
        padding: 40px 0px;
    }


    /* .... blog links ........ */

    .blog-links{
        grid-template-columns: repeat(1,1fr);
    }
    .tablet-view-button{
        /* display: hidden; */
        visibility: hidden;
    }



    /* ....... footer ........ */

    .footer-goal{
        height: 25%;
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .social-media{
        grid-template-columns: repeat(1,1fr);
        /* align-items: center; */
    }
    .social-icons{
        /* text-align: center; */
        /* justify-content: center; */
        margin: 0px auto;
    }

   
}


/* .................................
tablet view
.................................... */

@media screen and (min-width:689px) and (max-width:1057px){

    .poster-info h1{
        font-size: 45px;
        font-weight: lighter;    
        font-family:sans-serif;
        /* margin-top: 30px; */
        padding: 0px;
        border: 0px;
    }

 
    .poster-player{
        width: 90%;
        /* margin: 0px; */
        /* border: 1px solid white; */
        padding: 0px ;
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
    }

/* .... blog links ........ */

    .blog-links{
        grid-template-columns: repeat(2,1fr);
    }
    .tablet-view-button{
        /* display: hidden; */
        visibility: visible;
    }
    /* 
........ match-pages......
*/

.match{
    display: flex;
    flex-direction: column;

    /* grid-template-columns: 200px auto;
    column-gap: 10px; */

    }
.match-pages{
    background-color: white;
    display: flex;
    }
}

@media screen and (min-width:1058px) and (max-width:1500px) {
    
    .tablet-view-button{
        /* display: hidden; */
        visibility: hidden ;
    }
}